.main-page {
    /* TODO: add grid here */
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
}
.home-page{
    color: white;
    font-size: 4rem;
    padding: 1.2em 0 0 1.2em;
}
.home-page-footer{
    padding: 1em 0 0 5em;
    
}
.home-page-footer span{
    font-size: 1.2rem;
    color: white;
}
.card{
    background-color: white;
    margin: 1.5rem;
    padding: 0.5em;
    border-radius: 10px;
    min-width: 240px;
    max-width: 300px;
}
.card.todo{
    word-break: break-word;
}
.done{
    background-color: #dcfbe0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(25, 231, 10);
}
.hidden{
    background-color: #080909;
    border: none;
}
.hidden p{
    color: #080909;
}
.cover{
    position: relative;
    z-index: -1;
}
.card button{
    min-height: 26px;
    height: 26px;
    width: 26px;
    font-size: 0.7rem;
}
.add-icon button{
    padding: 0 10px;
    min-width: 60px;
}
.button-group{
    display: flex;
    justify-content: right;
    margin-right: 1em;
}

.update{
    background-color: white;
    border: solid 2px #001C30;
    left: 0; 
    right: 0; 
    margin: 180px auto;
}

@media screen and (max-width:500px){
    .main-page{
        justify-content: center;
    }
    .card{
        background-color: white;
        margin: 1rem;
        padding: 0.5em;
        border-radius: 10px;
        min-width: 180px;
        max-width: 200px;
    }
    .home-page{
        color: white;
        font-size: 2.5rem;
        padding: 1.2em 0 0 0.2em;
    }
    .home-page-footer{
        padding: 1em 0 0 0.5em;
        
    }
    .home-page-footer span{
        font-size: 1rem;
        color: white;
    }
}