.main-page {
    /* TODO: add grid here */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    background-color: white;
    margin: 1.5rem;
    padding: 0.5em;
    border-radius: 10px;
    min-width: 240px;
    max-width: 300px;
}
.card.todo{
    word-break: break-word;
}

.card button{
    min-height: 26px;
    height: 26px;
    width: 26px;
    font-size: 0.7rem;
}
.add-icon button{
    padding: 0 10px;
    min-width: 60px;
}
.button-group{
    display: flex;
    justify-content: right;
    margin-right: 1em;
}