body{
    margin: 0;
}
.app-main{
    background-color: hsl(210, 3%, 16%);  
    position: fixed;
    width: 100vw;
    height: 100vh; 
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
}
.blur-page{
    background-color: #080909;
    opacity: 0.75;
    filter: blur(0.7px);
}
.overlay{
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    z-index: 9;
}
.underlay{
    position: absolute;
    left: 0; 
    right: 0;
    margin-left: auto; 
    margin-right: auto;
    z-index: -9;
}
.scroll{
    overflow-y: scroll;
    height: 100%;
}